.card{
    width: 1000px;
    height: 490px;
    margin: 40px auto;
    position: relative;
    padding: 10px;
}

.img{
    width: 100%;
}
.contents{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: x-large;

}